body{
    background-color: black;
}

h1{
    color:transparent;
    background-image: -moz-linear-gradient(to left,deeppink, dodgerblue);
    -webkit-background-clip: text;
    display: inline-block;
}

h3{
    color:white;
  
}

a{
    text-decoration: none;
}

#sign a:hover{
    color:transparent;
    background-image: -moz-linear-gradient(to left,deeppink, dodgerblue);
    -webkit-background-clip: text;
    display: inline-block;
}



.notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid white;
    background-color: gray;
    padding: 5px 10px;
}

#newnote{
    padding: 5px 10px;
}

* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
}

.new-note{
    width: 300px;
    margin: 0 auto;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.note {
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: relative;
    min-height: 100px;
}
.note .title{
    margin-bottom: 10px;
    font-weight: bold;
}
.note .title a {
    color: black;
}
.note .close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
}
.note small {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-top: 10px;
    display: block;
    text-align: right;
    font-style: italic;
}